*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.container{
    min-width: 1920px;
    padding :0 405px;
    margin: 0 auto;
}

.header{
    background-color: black;
    padding: 14px 0;
}

.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list{
display: flex;
align-items: center;
gap: 18px;
    }

    &__link{
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    a{
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    span{
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    &__btn{
background: none;
border: none;
cursor: pointer;

        font-weight: 400;
        font-size: 12px;
        text-align: right;
        color: gray;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.phone{
    display: flex;
    align-items: center;
    gap: 18px;
}

